/* custom.css */
/* custom.css */
.directory td {
    font-size: 0.85em; /* Sets the font size for all text within table cells */
}

.directory td * {
    font-size: inherit; /* Ensures all children elements inherit the same font size */
}


.directory .entry:first-child {
    max-width: 500px; /* Limits the width of the first column */
    white-space: normal; /* Allows text wrapping within the cell */
    overflow-wrap: break-word; /* Ensures words break to prevent overflow */
    word-wrap: break-word; /* Older CSS3 property for word breaking */
    hyphens: none; /* Automatically add hyphens if needed (depends on language support) */
}

.entry .icon {
    display: inline-block; /* Treat the icon as a block but allow it inline */
    white-space: nowrap; /* Prevent wrapping on the icon and immediately following characters */
}





